@model ICollection<ResultNotificationDto>?

@{
    ViewBag.Title = "title";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Notification Process</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Notification List</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can perform transactions related to the Notification below.
                        </div>
                        <table class="table mt-3">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Notification Description</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Icon</th>
                                <th scope="col">Type</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Update</th>
                                <th scope="col">Seen?</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Description</td>
                                    <td>@item.Date</td>
                                    <td>@item.Status</td>
                                    <td>@item.Icon</td>
                                    <td>@item.Type</td>
                                    <td><a href="/Notifications/Delete/@item.Id"
                                           class="btn btn-outline-danger">Delete</a></td>
                                    <td><a href="/Notifications/Update/@item.Id"
                                           class="btn btn-outline-success">Update</a></td>
                                    <td>
                                        @if (!item.Status)
                                        {
                                            <a href="/Notifications/UpdateStatusById/@item.Id?status=true"
                                               class="btn btn-outline-success">Seen</a>
                                        }
                                        else
                                        {
                                            <a href="/Notifications/UpdateStatusById/@item.Id?status=false"
                                               class="btn btn-outline-secondary">UnSeen</a>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <td><a href="/Notifications/Create" class="btn btn-outline-primary">New</a></td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

