@model ContactWithSocialViewModel

<footer class="footer_section">
  <div class="container">
    @foreach (ResultContactDto contact in Model.Contacts!)
    {
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  @contact.Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call @contact.Phone
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  @contact.Mail
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              @contact.FooterTitle
            </a>
            <p>
              @contact.FooterDescription
            </p>
            <div class="footer_social">
              @foreach (ResultSocialMediaDto socialMedia in Model.SocialMedias!)
              {
                <a href="@socialMedia.Url">
                  <i class="@socialMedia.Icon" aria-hidden="true"></i>
                </a>
              }
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            @contact.OpenHours
          </h4>
          <p>
            @contact.OpenDays
          </p>
          <p>
            @contact.OpenDaysDescription
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="/Default/Index/">SignalR Restaurant</a><br><br>
          &copy; <span id="displayYear"></span> Development By
          <a href="https://github.com/RumpleSteelSkin" target="_blank">RumpleSteelSkin</a>
        </p>
      </div>
    }
  </div>
</footer>
